<footer class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <p class="navbar-brand mb-0">&copy;Akash Jindal | Nagarro | Software Trainee</p>
        </div>
</footer>
