<body>
    <div class="container d-flex justify-content-center align-items-center login-container">
        <form  #loginForm="ngForm" (ngSubmit)= "onSubmit(loginForm.value)" class="login-form">
            <h4 class="mb-3">Login To Continue</h4>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="email" class="form-control" name="name" aria-describedby="emailHelp" ngModel>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input type="password" class="form-control" name="pass" aria-describedby="emailHelp" ngModel>
            </div>
            <div *ngIf="errorMssg" class="alert alert-danger">{{errorMssg}}</div>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn ms-3" (click)="register()">Register</button>
        </form>
    </div>    
</body>
